PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017/gametracker
MONGODB_URI=mongodb+srv://"USUARIO_MONGODB":"CONTRASEÑA_MONGODB"@"CLUSTER_MONGODB"/gametracker?retryWrites=true&w=majority&appName=Cluster0

# Credenciales de Twitch para IGDB
TWITCH_CLIENT_ID=TU_CLIENT_ID_DE_TWITCH
TWITCH_CLIENT_SECRET=TU_CLIENT_SECRET_DE_TWITCH

CLIENT_URL=http://localhost:5173
